@model IEnumerable<FinanceBalance>
@{
    ViewData["Title"] = "Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
        <div class="row">
            <div class="col-6">
                <h2 class="text">Spolki Gpw</h2>
            </div>
        </div>
    </div>
    <br />
<div class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
    <table class="table table-striped border">
        <tr>
            <th>

            </th>

        </tr>
    </table>
</div>

