

<div class="col-2">
    <a asp-area="Admin" asp-controller="Companies" asp-action="Index" class="btn btn-secondary btn-sm">Wig</a>
</div>
<div class="col-2">
    <a asp-area="Admin" asp-controller="Companies" asp-action="IndexSort" asp-route-id="1" class="btn btn-secondary btn-sm">Wig20</a>
</div>
<div class="col-2">
    <a asp-area="Admin" asp-controller="Companies" asp-action="IndexSort" asp-route-id="2" class="btn btn-secondary btn-sm">Wig40</a>
</div>
<div class="col-2">
    <a asp-area="Admin" asp-controller="Companies" asp-action="IndexSort" asp-route-id="3" class="btn btn-secondary btn-sm">sWig80</a>
</div>


